.section-title {
  font-family: "MonteCarlo", cursive;
  font-size: 5rem;
  color: #1c4642;
}
.card .carousel-inner img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
}
.card-body {
  background-color: #f5daae;
  color: #333;
  border-radius: 0 0 10px 10px;
  padding: 1.2rem;
}
.card-title {
  font-family: "MonteCarlo", cursive;
  font-size: 1.8rem;
  font-weight: bold;
  color: #1c4642;
  margin-bottom: 0.5rem;
}

.card-text {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  color: #1c4642;
}
.card .btn-primary {
  background-color: #1c4642;
  border-color: #1c4642;
  font-weight: bold;
  font-size: 0.95rem;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.card .btn-primary:hover {
  background-color: #1c4642;
  border-color: #1c4642;
}
.texto {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  color: #1c4642;
  text-align: center;
}
.main-bordado {
  background-color: #f2e7d5;
  width: 100%;
  margin: 0%;
  padding: 2rem 6rem;
}
.boton-back {
  appearance: none;
  text-decoration: none;
  color: #235752;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  width: 10rem;
}
.boton-back:hover {
  background: #f5daae;
  border-radius: 10px;
}
.card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .carousel-inner img {
  height: 300px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .main-bordado {
    padding: 2rem 1rem;
  }

  .card .carousel-inner img {
    height: 200px;
  }
}
