.main-tienda {
  background-color: #f2e7d5;
  width: 100%;
  margin: 0%;
  padding: 2rem;
}
.boton-back {
  appearance: none;
  text-decoration: none;
  color: #235752;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  width: 10rem;
}
.boton-back:hover {
  background: #f5daae;
  border-radius: 10px;
}
.title {
  width: 100%;
  margin: 1rem 0;
  padding: 1rem;
  background-color: #f5daae;
  border-radius: 15px;
}
.section-title {
  font-size: 4rem;
  font-weight: bold;
  width: 100%;
}
.texto {
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  font-size: 1.2rem;
  width: 100%;
  color: #235752;
}
.card {
  background-color: transparent;
  border-radius: 15px;
}
.card-img-top {
  height: 26.4rem;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
  width: 100%;
}
.card-body {
  background-color: #f5daae;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  flex: none;
}
.card-title {
  font-size: 1.5rem;
  color: #235752;
  font-weight: 600;
  font-family: "MonteCarlo", cursive;
  text-align: center;
}
.navbar-nav .nav-link {
  font-family: "josefin sans", sans-serif;
  color: #235752 !important;
  font-size: 1rem;
  font-weight: 400;
}
.card-text {
  font-size: 1rem;
  color: #235752;
  font-weight: 400;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
}
.footer-card {
  display: flex;
  padding: 0.5rem;
  justify-content: space-between;
  font-weight: 600;
  font-size: 1.5rem;
  align-items: center;
}
.cart-btn {
  color: #235752;
  border-radius: 15px;
  border: 5px;
  padding: 0.5rem;
  border-color: #235752;
}
.cart-btn:hover {
  transform: scale(2rem);
}
.cart-container {
  position: fixed;
  top: 100px;
  right: 20px;
  width: 300px;
  max-height: 400px;
  overflow-y: auto;
  background-color: #fff;
  border: 2px solid #1c4642;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 999;
  border-radius: 10px;
}

.cart-btn {
  cursor: pointer;
  color: #1c4642;
  font-size: 1.2rem;
}

.cart-btn:hover {
  color: #c76b1f;
}

.cart-container h4 {
  font-family: "MonteCarlo", cursive;
  color: #1c4642;
}

#productos-container {
  margin-left: auto;
  margin-right: auto;
}

.main-tienda {
  background-color: #f2e7d5;
  padding: 2rem;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  border: none;
  background-color: transparent;
  border-radius: 15px;
}

.card-img-top {
  height: 26.4rem;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
}

.card-body {
  background-color: #f5daae;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.footer-card {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
