.main-pedidos{
background-color: #f2e7d5;
display: flex;
flex-grow: 1;
gap:1rem;
flex-wrap: wrap;
justify-content: space-evenly;
}
.section-pedidos {
display: flex;
flex-direction: column;
gap:0.3rem;
width: 25rem;
border:solid #c35d2e 1px;
border-radius: 15px;
align-items: center;
background-color: #e0cdad;
font-family: "MonteCarlo", cursive;
color: #1c4642;
}
.section-pedidos img {
  width: 100%;
height: 22rem;
}
.section-pedidos form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap:0.3rem;
  align-items: center;
  padding: 1rem;
}
.inp-pedidos {
  height: 2.5rem;
  appearance: none;
  background-color: transparent;
  border-radius: 10px;
  padding-left: 0.2rem;
  width: 95%;
}

.section-pedidos form textarea{
  appearance: none;
  padding: 0.3rem;
  border-radius:10px ;
  background-color: transparent;
  margin: 0.3rem;
  width: 95%;
}
.section-pedidos form input[type="submit"] {
  border-radius: 10px;
  background-color: transparent;
  margin: 0.3rem;
  height: 2.5rem;
  width: 50%;  
}

.section-pedidos form input[type="submit"]:hover{
  background-color: #c35d2e;
}
